.add-book-form-manual {
  width: 100%;
  margin-top: 50px;
   input {
   width: 100%;
   background-color: white;
   }
 }

 .add-book-form-isbn input {
   width: 100%;
   background-color: white;
 }

 .add-book-form-isbn input.btn{
   color: #DDB9B9;
   border: #DDB9B9, solid;
   border-radius: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
   background-color: #362D2D;
 }
