body {
  // background: linear-gradient(#0D0B0B, #5E4F4F);
  background-color: #0D0B0B;
  height: 90dvh;
 }

.book-card {
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 150px;
  margin: auto;
  padding: 0 32px;
}

.d-flex.my-3 {
  gap: 10px;
}

hr.line {
  border: none;
  border-bottom: 2px solid #ffffff;
  width: 85%;
  margin: 20px auto;
}

.book-card img {
  height: 100%;
  width: fit-content;
  object-fit: cover;
  // margin-right: 16px;
  // margin-left: 16px;
}

.book-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.book-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.book-card .card-product-infos {
  padding: 16px;
}

.card-img-top {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.book-list-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.book-filter {
  color: #DDB9B9;
  border: #DDB9B9, solid;
  border-radius: 20px;
  justify-content: left;
}

.search-bar {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  color: #DDB9B9;
  max-width: 80%;
}

.search-type {
  margin-left: 20px;
  margin-right: 20px;
  color: #DDB9B9;
}

.btn.search-btn {
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid #846868;
  background: rgba(114, 99, 99, 0.00);
  font-size: x-small;
  color: #DDB9B9;
}

.card-title {
  text-decoration: none;
  color: #DDB9B9;
  max-width: 90%;
}

p {
  color: #DDB9B9;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.title-page-books {
  margin-top: -50px;
  margin-bottom: 40px;
  text-align: center;
  color: #DDB9B9;
  font-size: 3.2rem;
  font-weight: 100;
}

.map-icon {
  text-align: center;

}

.map-icon-pink {
  border-radius: 25px;
}

.form-control {
  border-radius: 15px;
  border: 1px solid #846868;
  background: rgba(217, 217, 217, 0.00);
  height: 28px;
  flex-shrink: 0;
  color: #DDB9B9;
}

.book-show-image {
  width: 50%;
  height: auto;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  border-radius: 15px;
}

.book-details-info {
  color: #DDB9B9;
  text-align: center;
  margin-bottom: 30px;
}

.book-info-card {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 200;
  text-align: center;
  max-width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.btn.btn-outline-info {
  color: #DDB9B9;
  border: #DDB9B9, solid;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.book-details {
  text-align: center;
}

.modal-title {
  color: white;
  text-align: center;
  background-color: #5E4F4F;
}

.modal-body {
  background-color: #5E4F4F;
  border: #5E4F4F;
}

.modal-header {
  background-color: #5E4F4F;
  text-align: center;
  border: none;
}

.modal-footer {
  background-color: #5E4F4F;
  border: none;
}

.navbar.navbar-expand-sm.navbar-light.navbar-lewagon.fixed-bottom {
  background-color: #5E4F4F;
}

.review-header {
  color: #DDB9B9;
}
