.book-card {
  overflow: hidden;
  align-items: center;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 150px;
  border: 1px solid #C5705D;
  border-radius: 25px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  margin-right: 10px;
  margin-left: 10px;
}

.book-card img {
  height: 60%;
  width: 100px;
  object-fit: cover;
  margin-right: 16px;
  margin-left: 16px;
}

.book-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.book-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.book-card .card-product-infos {
  padding: 16px;
}

.card-img-top {
  width: 50px;
}
