.btn.btn-outline-info {
  margin: 0;
}

.btn.search-btn {
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid #846868;
  background: rgba(114, 99, 99, 0.00);
  font-size: 11px;
  color: #DDB9B9;
}

#custom-search-button {
  margin: 0;
}

.btn.btn-outline-info:hover {
  background-color: inherit;
  color: inherit;
  // border: inherit;
  box-shadow: none;
  outline: none;
}

#custom-submit-button {
  margin: 0;
}

#custom-swap-button {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.button_to {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
