.user-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  margin-top: 20px;
}

.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 250px;
  height: 100px;
  color: #DDB9B9;
}

.profile-info p {
  margin: 0;
  padding: 0;
}

.profile-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn.btn-outline-info {
  // color: #C5705D;
  // border: #C5705D, solid;
  border-radius: 20px;
}

.library-container {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #DDB9B9;
  border: #DDB9B9;
  border-radius: 25px;
  background-color: #413737;
  padding-top: 20px;
  padding-bottom: 20px;
}

.library-info {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color:#DDB9B9;
}

.books-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #DDB9B9
}

.profile-icon {
  border-radius: 50%;
  width: 100px;
}

.swap-card {
  color:#DDB9B9;
}

.profile-books-image {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 150px;
  max-width: 85%;
}

.container {
  padding-bottom: 70px;
}

.reviews-container {
  color: #DDB9B9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #DDB9B9;
  border: #DDB9B9;
  border-radius: 25px;
  background-color: #413737;
  padding-top: 20px;
  padding-bottom: 20px;
}

.review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #DDB9B9;
  border: #DDB9B9;
  border-radius: 25px;
  background-color: #413737;
  padding-top: 20px;
  padding-bottom: 20px;
}
