// Books show page review styling

.reviews-container {
  color: #DDB9B9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  color: #DDB9B9;
  border: #DDB9B9;
  border-radius: 25px;
  background-color: #413737;
  padding-top: 20px;
  padding-bottom: 20px;
}

.review-header {
  color: #DDB9B9;
  margin-left: 20px;
  margin-top: 50px;
}

.review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #DDB9B9;
  border: #DDB9B9;
  border-radius: 25px;
  background-color: #413737;
  padding-top: 10px;
}

#new_review {
  display: flex;
  flex-direction: column;
}

.review-form {
  width: 300px;
  border: solid 1px #DDB9B9;
  height: 38px;
  border-radius: 25px;
}

#review_rating {
  border: solid 1px #DDB9B9;
  border-radius: 25px;
  background-color: #413737;
  color: #1b0e0e;
  height: 38px;
}

.rating-name {
  // margin: 0;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  align-items: center;
}

.rating-name p {
  margin: 0;
}

.rating-time {
  font-size: x-small;
}

.rating-stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.star-icon {
  height: 10px;
}

// .review-comment-time {
//   display: flex;
//   justify-content: space-evenly;
//   width: 50%;
//   align-items: center;
// }

.review-comment {
  margin: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.rating-info {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}
