<h1>Swaps</h1>


<% if @swap.present? %>
  <% @messages.each do |message| %>
    <%= render "messages/message", message: message, user: current_user, swap: @swap %>
  <% end %>
<% end %>

 <%= simple_form_for [@swap, @message] do |f| %>
    <%= f.input :content, placeholder: "Let's swap books...", required: true %>
    <%= f.submit "Send", class: "btn btn-primary" %>
<% end %>


<%# see all messages -> messages index %>
<%# both the current user and other user can see thier messgaes -> if statment  %>

<%# chaneg to show page -  %>
<%# # swap where current user is me %>
<%# # swap where current user is the request %>
